*{
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/footer_lodyas.png")
}


#header{
    height: 15%;
    border: solid thick black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/zwartevilt_@2x.jpg");
}


.title{
    color: white;   
    font-size: 500%;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(228, 17, 17);
}

.subtitle{
    text-align: center;
    color: white;   
    font-size: 200%;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(228, 17, 17);
}
#header img{
    width: 5%;
    height: 90%;
}

#mainContainer{
    width: 100%;
    height: 100%;
}

#moviesContainer{
    height: 85%;
    width: 100%;
}

#movies{
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.movie{
    margin-right: 5%; 
    margin-left:  5%; 
    margin-bottom: 8%;
    width: 8.5%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.name{
    position: relative;
    width: 100%;
    height: 100%;
    top: 95%;
    text-align: center;
}

.name a{
    font-size: 120%;
    color: white;
}

.details{
    height: 95%;
    width: 95%;

    border: thick solid transparent;
    background-image: url("../img/footer_lodyas.png");
    border-image: url("../img/zwartevilt_@2x.jpg")50 round;
    position: absolute;
}

